﻿
body{
background-color:#E0FFFF;
}


/* Aqui vamos focar a cor da fonte em branco
   Dar o tamanho de 14 pixels para a fonte
   Mudar o tipo da fonte para Arial Black */
#menu_resp a{
color: white; 
font-size:14px;
font-family:"Arial Black";
}
#menu_resp a:hover{
color:red;
}



@media (min-width:1000px){
/***** Esta mudança no CSS fará o menu andar 40pixels para a direita 
observe que foi usado um numero negativo -40px, é uma numeração valida de ser
usada, entao indepedente da posição, o menu será jogado para direita na força mesmo, pois
estamos usando a margin-right */
#menu_resp{
margin-right:-40px;
}

/*** Esta mudança pegara cada link que esta dentro do menu e dar um espaçamento na 
margem de cada de 40px */
#menu_resp a{
margin-left:40px;
}

/** Agora vamos fazer que cada vez que o usario passar o mouse sobre u link a cor da fonte 
mudara para vermelho */
#menu_resp a:hover{
color:red;
}
}

#submenu a{
margin-left:0;
