﻿<head>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<head>
<title>Site de Mudanças </title>
<script src="bootstrap/js/jquery-3.3.1.min.js"></script>
<style>

body{
background-color:#B0C4DE;
}

.altura{
height:85%;
}
#mainNav a{
color:white;
font-size:18px;
margin-left:20px;
font-weight:bold;
width:190px;
}
#mainNav a:hover{
color:red;

}
.navbar-brand{
color:white;
font-size:25px !important;
}

#vingadores p{
text-indent:20px;
text-align:justify;
}
.fundo{
background-color:#DCDCDC;
}
#defensores button{
width:365px;
margin-bottom:20px;
}
@media(max-width:600px){
#carousel_site{
display:none !important;
}

}
</style>
<script>
/*
  document.addEventListener("DOMContentLoaded", function(){
     var links = document.querySelectorAll(".navbar-nav li a:not([href='#'])");
     for(var x=0; x<links.length; x++){
        links[x].onclick = function(){
        $(".navbar-collapse").collapse('hide');
        }
     }
  });*/
</script>


</head>
<body onresize="myFunction()">
<!--INICIO - Menu-->
<header>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-warning" id="mainNav">
	<div class="container">
		<a class="navbar-brand" href="#carousel_site">
      Terceirão </a>
		<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#menu_responsivo" aria-controls="menu_responsivo" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
		<div class="collapse navbar-collapse" id="menu_responsivo">
			<ul class="navbar-nav text-uppercase ml-auto justify-content-end">
				<li class="nav-item ">
					<a class="nav-link" href="#ligadajustica" >Liga da Justiça</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#vingadores">Vingadores</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="#defensores">Defensores</a>
				</li>
				<li class="nav-item dropdown">
					 <a class="nav-link dropdown-toggle" href="#" id="menusubmenu" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">KPOP BANDAS</a>
            <div class="dropdown-menu bg-warning m-2" aria-labelledby="menusubmenu">
             <a href="#fim" class="dropdown-item" >BTS</a>
             <a href="#" class="dropdown-item" >SUPER JUNIOR</a>
             <a href="#" class="dropdown-item" >BIG BANG</a>
          </div>
        </li>
			</ul>
		</div>
	</div>
</nav>

<!--FIM - Menu-->
<!-- carousel -->
 <div id="carousel_site" class="carousel slide col-md-12 my-5" data-ride="carousel">
<br><br>
		<ol class="carousel-indicators">
			<li data-target="#carousel_site" data-slide-to="0" class="active"></li>
			<li data-target="#carousel_site" data-slide-to="1"></li>
			<li data-target="#carousel_site" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<!-- Primeira Imagem -->
			<div class="carousel-item active">
        <img class="d-block w-100 altura img-fluid" src="img/ligadajustica.jpg">
 				<div class="carousel-caption d-none d-md-block">
					<h2 class="display-1" style="font-weight:bold">LIGA DA JUSTIÇA</h2>
					<p class="lead cor"></p>
				</div>
			</div>
			<!-- Segunda Imagem -->
      <div class="carousel-item">
        <img class="d-block w-100 altura img-fluid" src="img/vingadores.jpg">
 				<div class="carousel-caption d-none d-md-block">
					<h2 class="display-1" style="font-weight:bold">VINGADORES</h2>
					<p class="lead cor"></p>
				</div>
			</div>
			<!-- Terceira Imagem -->
      <div class="carousel-item ">
        <img class="d-block w-100 altura img-fluid" src="img/defensores.jpg">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-1" style="font-weight:bold">DEFENSORES</h2>
          <p class="lead cor"></p>
        </div>
      </div>
		</div>
		<a class="carousel-control-prev" href="#carousel_site" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carousel_site" role="button" data-slide="next">
			<span class="carousel-control-next-icon h1" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

<!-- Final -->

<!-- Inicio  Cards -->
<div class="container py-5" id="ligadajustica">
<br><br>
  <div class="row">
    <div class="col-md-4">
      <div class="card fundo_card">
        <img src="img/batman.jpg" class="card-img-top" alt="Batman"/>
         <div class="card-body">
           <div class="card-title h4">
             Batman
           </div>
           <p class="card-text" style="text-indent:20px;text-align:justify">
             Bruce Wayne tinha oito anos de idade e viu os pais serem assassinados na sua frente.
      Após esse acontecimento, ele acaba sendo criado por seu tutor, Alfred, que também é o mordomo da família. Os anos se passaram e Bruce resolve dedicar
      sua vida a combater o crime. Aos 14 anos, ele viajou pelo mundo, frequentando 8 universidades e,
      visitando o Oriente para treinar artes maciais. Nesse período, ele também aprendeu técnicas de cura,
      caça e infiltração. Já com 26 anos, ele retorna a Gotham, e assume a identidade de Batman.
           </div>
         </div>
      </div>
     <div class="col-md-4">
       <div class="card fundo_card">
         <img src="img/superman.jpg" class="card-img-top" alt="Superman" />
         <div class="card-body">
           <div class="card-title h4">
             Superman
           </div>
           <p class="card-text" style="text-indent:20px;text-align:justify">
             Quando o cientista Jor-El descobriu que seu planeta, Krypton, seria destruído, resolveu enviar à Terra
    seu filho, Kal-El, para que este fosse salvo do desastre. A nave que trouxe o menino a nosso mundo foi
    encontrada por um casal da cidade de Smallville, no Kansas, Jonathan e Martha Kent, que resolveram criar o menino como seu filho. O menino foi batizado como Clark Kent e logo ficou claro que era dono de incríveis poderes. Seus pais adotivos o instruíram a esconder esses poderes, embora Clark os usasse eventualmente para evitar catástrofes e salvar inocentes. Quando tornou-se adulto, Clark decidiu tornar-se jornalista e mudou para a cidade de Metrópolis. Lá, conseguiu emprego como repórter do Planeta Diário, o maior jornal local. Mas quando a cidade e o mundo são ameaçados, Clark veste seu
    uniforme azul e vermelo e parte para o resgate, usando seus incríveis poderes. Sua única fraqueza é a
    kryptonita, restos radioativos de seu planeta natal, que podem eliminar seus poderes temporariamente ou
    causar outros efeitos adversos, como alteração de personalidade.
           </p>
         </div>
       </div>
     </div>
     <div class="col-md-4">
       <div class="card fundo_card">
         <img src="img/mulhermaravilha.jpg" class="card-img-top" alt="Mulher Maravilha" />
         <div class="card-body">
           <div class="card-title h4">
            Mulher Maravilha
           </div>
           <p class="card-text" style="text-indent:20px;text-align:justify">
             Diana foi criada de maneira mágica, a partir de uma figura de argila, na misteriosa Ilha Paraíso – um
       reino escondido, mais tarde chamado de Themyscira –, por sua mãe, a Rainha Hipólita. Quando adulta,
       durante o período da Segunda Guerra Mundial, ela foi enviada ao mundo dos homens (no caso, os Estados
       Unidos), como embaixadora da paz e para lutar contra inimigos como os alemães e os japoneses.
       Durante diversos períodos e reformulações, ela usou a identidade secreta de Diana Prince, que teve
       várias encarnações: enfermeira, secretária, agente do Departamento de Defesa e até dona de uma butique
       de moda. Em sua última reformulação, ocorrida em 2011, a Mulher-Maravilha tornou-se uma semideusa,
       filha de Hipólita e do deus grego, Zeus. Com atitudes mais violentas, ela é considerada a nova
       encarnação do deus da guerra.
           </p>
         </div>
       </div>
     </div>
    </div>
  </div>
<!-- Final Cards -->
<!-- Inicio Usando Divs -->
<div class="container py-5" id="vingadores">
<div class="row py-3 ">
  <div class="col-md-4 fundo">
<br>
    <img src="img/capitaoamerica.jpg" / class="img-fluid"><br />
    <h4>Capitão América</h4>
    <p>
      Steve Rogers é um jovem que participa de experiências visando a criação do supersoldado americano.
      Quando os oficiais militares conseguem transformá-lo em uma arma humana, eles percebem que não
       podem arriscar a vida do jovem nas batalhas de guerra.
    </p>
  </div>
  <div class="col-md-4 fundo">
<br>
    <img src="img/homemdeferro.jpg" / class="img-fluid"><br />
    <h4>Homem de Ferro</h4>
    <p>
    Tony Stark é um industrial bilionário e inventor brilhante que realiza testes bélicos no exterior,
    mas é sequestrado por terroristas que o forçam a construir uma arma devastadora.
    Em vez disso, ele constrói uma armadura blindada e enfrenta seus sequestradores.
    Ao voltar para os EUA, Stark aprimora a armadura e a utiliza para combater o crime.
    </p>
  </div>
 <div class="col-md-4 fundo">
<br>
    <img src="img/thor.jpg" class="img-fluid" /><br />
    <h4>Thor</h4>
    <p>
      Como filho de Odin, rei dos deuses nórdicos, Thor logo herdará o trono de Asgard de seu idoso pai.
      Porém, no dia de sua coroação, Thor reage com brutalidade quando os inimigos dos deuses entram no
      palácio violando o tratado. Como punição, Odin manda Thor para a Terra. Enquanto seu irmão Loki
      conspira em Asgard, Thor, agora sem seus poderes, enfrenta sua maior ameaça.
    </p>
 </div>
</div>
</div>
<!-- Final Divs -->
<!-- Inicio Collapse -->
<div class="container" id="defensores">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <button class="btn btn-primary" type="button" data-toggle="collapse"
      data-target="#demolidor" aria-expand="false" aria-controls="demolidor">DEMOLIDOR - CLIQUE AQUI</button>
      <br />
      <div class="collapse py-2" id="demolidor">
        <div class="card fundo_card">
          <img src="img/demolidor.jpg" class="card-img-top" alt="Demolidor" />
        <div class="card-body">
          <div class="card-title h4">
           Demolidor
          </div>
          <p class="card-text" style="text-indent:20px;text-align:justify">
            Matt Murdock, um garoto pobre e franzino, filho do boxeador Jack Murdock,
            sofreu um acidente ao salvar um idoso que seria atropelado por um caminhão. Durante essa heroica ação, Isótopos radioativos transportados pelo caminhão caíram sobre os olhos de Matt e o cegaram. Porém, os isótopos também ampliaram os outros sentidos do menino e deram a ele uma percepção apurada e quase perfeita de tudo ao seu redor: ambiente, pessoas e movimentos.
            Matt manteve sua identidade como super-herói e tornou-se um combatente do crime
            em Nova York. Durante o dia, ele é o advogado cego Matt Murdock e à noite enverga seu uniforme – agora todo vermelho – para enfrentar perigosos inimigos como Demolidor, o Homem Sem Medo. Atualmente, o herói mudou-se para a cidade de São Francisco e revelou sua identidade publicamente.
            Poderes e habilidades: Como os morcegos, o Demolidor tem um excelente sentido de radar que
            permite que ele perceba tudo que há ao seu redor.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <button  class="btn btn-primary" type="button" data-toggle="collapse"
    data-target="#jessica" aria-expand="false" aria-controls="jessica">JESSICA JONES - CLIQUE AQUI</button>
    <br />
    <div class="collapse py-2" id="jessica">
      <div class="card fundo_card">
        <img src="img/jessica.jpg" class="card-img-top" alt="Mulher Maravilha" />
      <div class="card-body">
        <div class="card-title h4">
        Jessica Jones
        </div>
        <p class="card-text" style="text-indent:20px;text-align:justify">
          Desde que sua curta vida como super-heroína acabou de forma trágica, Jessica
          Jones  vem reconstruindo sua carreira e passou a levar a vida
           como detetive particular no bairro de Hell's Kitchen, em Nova York, na sua
           própria agência de investigações, a Alias Investigations. Traumatizada por
           eventos anteriores de sua vida, ela sofre de Transtorno de Estresse
           Pós-Traumático, e tenta fazer com que seus super-poderes passem despercebidos
            pelos seus clientes. Mas, mesmo tentando fugir do passado, seus demônios
            particulares vão voltar a perseguí-la, na figura de Zebediah Kilgrave
          , um obsessivo vilão que fará de tudo para chamar a atenção de Jessica.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <button  class="btn btn-primary" type="button" data-toggle="collapse"
  data-target="#lukecage" aria-expand="false" aria-controls="lukecage">LUKE CAGE - CLIQUE AQUI</button>
  <br />
  <div class="collapse py-2" id="lukecage">
    <div class="card fundo_card">
      <img src="img/lukecage.jpg" class="card-img-top" alt="Luke Cage" />
    <div class="card-body">
      <div class="card-title h4">
      Luke Cage
      </div>
      <p class="card-text" style="text-indent:20px;text-align:justify">
         Luke Cage é um ex-policial, preso mas inocente, que é forçado a obedecer os
         desmandos de um guarda corrupto na prisão de Seagate. Espancado e à beira da
         morte, ele é usado como cobaia em um experimento para aprimorar um soro de
         supersoldado. O guarda corrupto sabota o experimento, mas como resultado Luke
         Cage sai com seus ferimentos curados, super-força e pele invulnerável.
      </p>
    </div>
  </div>
</div>
</div>

</div>
     <br /><br />  <br /><br />  <br /><br />
</div>

<!-- Final Collapse -->
<div class="container" id="fim">
</div>
</body>
<script src="bootstrap/js/popper.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
